################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Diagnostics/obj/x86/Debug
/obj/Debug
/SigningKey.pfx
