################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Diagnostics/obj/x86/Debug
/obj/Debug
/SigningKey.pfx
/bin/Debug
/Diagnostics/bin/Debug
/Diagnostics/obj/x86/Release
/obj/Release
/bin/Release
/Diagnostics/bin/Release
